.map-panel {
  div {
    &:first-child {
      position: relative !important;
    }
  }
  .location-selector-cont {
    display: flex;
    justify-content: flex-end;
  }
  .map-cont {
    margin-top: 5px;
  }
}
